* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Outfit', serif;
}

:root {
	--semi-dark-blue: #161d2f;
	--pure-white: #ffffff;
	--dark-blue: #10141e;
}

html {
	font-size: 62.5%;
}

.not-active {
	display: none;
}

body {
	background: var(--dark-blue);
	
	@import 'components/nav';

	.main {
		padding: 2em 2em;
		&__search-container {
			display: flex;
			align-items: center;
		}

		&__search-input {
			background: none;
			height: 3.6rem;
			font-size: 1.8rem;
			width: 100%;
			margin-left: 0.4em;
			padding-left: 0.6em;
			color: var(--pure-white);
			border: none;

			&::placeholder {
				margin-left: 1em;
			}
		}

		&__movies-title-container,
		&__found-title-container {
			margin-top: 2em;
		}

		&__movies-title,
		&__found-title {
			color: var(--pure-white);
			font-size: 2.4rem;
			font-weight: 300;
		}

		&__movies-movies-play-container,
		&__found-movies-play-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.8);
			display: flex;
			align-items: center;
			opacity: 0;
			padding: 0.8em 1.2em;
			border-radius: 50px;
			background-color: rgba(#858fa8, 0.5);
			transition: opacity 0.3s ease, transform 0.3s ease;
		}

		&__movies-movies-text,
		&__found-movies-text {
			font-size: 1.8rem;
			margin-left: 0.6em;
			color: var(--pure-white);
		}

		&__movies-movie-photo,
		&__found-movie-photo {
			border-radius: 12px;
			width: 100%;
		}

		&__movies-movie-bookmark-container,
		&__found-movie-bookmark-container {
			position: absolute;
			top: 8px;
			right: 8px;
			padding: 1.6rem;
			width: 1rem;
			height: 1rem;
			border-radius: 100%;
			background-color: rgba(#161d2f, 0.6);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__movies-movie-bookmark,
		&__found-movie-bookmark {
			font-size: 1.2rem;
		}

		&__movies-movie-info-top,
		&__found-movie-info-top {
			display: flex;
			align-items: center;
			font-size: 1.2rem;
			font-weight: 200;
		}

		&__movies-movie-info-bottom,
		&__found-movie-info-bottom {
			font-size: 1.4rem;
			font-weight: 500;
		}

		&__movies-movie-year,
		&__found-movie-year {
			margin-right: 0.4em;
		}

		&__movies-movie-category-icon,
		&__found-movie-category-icon {
			margin-left: 0.4em;
		}

		&__movies-movie-category-name,
		&__found-movie-category-name {
			margin-left: 0.2em;
			margin-right: 0.4em;
		}

		&__movies-movie-rating,
		&__found-movie-rating {
			margin-left: 0.4em;
		}

		&__movies-container,
		&__found-movies {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 16px;
			width: 100%;
			margin-top: 2em;
		}

		&__movie,
		&__found-movie {
			position: relative;
			cursor: pointer;
			margin-bottom: 3em;

			&:hover .main__movies-movies-play-container {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}

			&:hover .main__found-movies-play-container {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
		}

		&__movies-movie-info-container,
		&__found-movie-info-container {
			position: absolute;
			margin-top: 0.6em;
			color: var(--pure-white);
		}
	}
}
